#!/usr/bin/env ruby

preprocess do
  # Add index extra data
  index = @items['/index.md']
  projects = @items.find_all '/projects/*.md'
  index[:projects] =  projects

  @items.create('', { projects: projects }, '/projects/index.html')
end

compile '/projects/*.md' do
  filter :kramdown
  layout '/project.erb'
  layout '/default.erb'
  write item.identifier.without_ext + '/index.html'
end

compile '/projects/index.html' do
  layout '/projects-all.erb'
  layout '/default.erb'
  write item.identifier
end

compile '/index.md' do
  filter :kramdown
  layout '/index.erb'
  layout '/default.erb'
  write '/index.html'
end

compile '/team/*.md' do
  filter :kramdown
  layout '/team-member.erb'
  layout '/default.erb'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.erb'
  write item.identifier.without_ext + '/index.html'
end

passthrough '/**/*'

layout '/**/*', :erb
