#!/usr/bin/env ruby

# Individual pages
compile '/projects/*.md' do
  filter :kramdown
  layout '/project.erb'
  layout '/default.erb'
  write item.identifier.without_ext + '/index.html'
end

compile '/team/*.md' do
  filter :kramdown
  layout '/team-member.erb'
  layout '/default.erb'
  write item.identifier.without_ext + '/index.html'
end

compile '/repos/*.md' do
  layout '/repo.erb'
  write nil
end

# Index pages
compile '/**/index.html.erb' do
  filter :erb
  layout '/default.erb'
  write item.identifier.without_ext
end

compile '/index.md' do
  filter :kramdown
  layout '/index.erb'
  layout '/default.erb'
  write '/index.html'
end

# Default rules
compile '/**/*.md' do
  filter :kramdown
  layout '/default.erb'
  write item.identifier.without_ext + '/index.html'
end

passthrough '/**/*'

layout '/**/*', :erb
