<div class="row">
  <% repos = @items.find_all("/repos/*.md") %>
  <h1>Managed repositories (<%= repos.size %>)</h1>
  <ul>
    <% repos.each do |repo| %>
      <%= repo.reps.find{|r| r.name == :default}.compiled_content(snapshot: :last) %>
    <% end %>
  </ul>
</div>
