<div class="row">
  <h1>Managed repositories</h1>
  <ul>
    <% @item[:repos].each do |repo| %>
      <li><a href="<%= repo.identifier.without_ext %>"><%= repo[:name] %></a></li>
    <% end %>
  </ul>
</div>