<div class="row">
  <h1>Managed repositories</h1>
  <!--
  <ul>
    <% @items[:repos].each do |repo| %>
      <li><a href="/repos/<%= repo[:id] %>"><%= repo[:name] %></a></li>
    <% end %>
  </ul>
  -->
</div>