<div class="row">
  <h1>Managed repositories</h1>
  <ul>

    <%= @items.find_all("/repos/*.md").size %>
    <% @items.find_all("/repos/*.md").each do |repo| %>
      <%= repo.reps.find{|r| r.name == :default}.compiled_content(snapshot: :last) %>
    <% end %>
  </ul>
</div>
