---
name: Build and Deploy
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]


jobs:
  compile:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: earthly/actions-setup@v1
      - name: nanoc compile
        run: |
          earthly --output --ci +build
      - name: Upload for GitHub Pages
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: output
  deploy:
    concurrency:
      group: "pages"
      cancel-in-progress: false
    permissions:
      contents: read
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-22.04
    needs: compile
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
